.container {
  display: flex;
  margin-top: 10px;
}

.link {
  text-decoration: none;
  color: inherit;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20% 0;
}
